{% extends 'base.html' %}
{% block head %}

    <title>Tweets Map</title>

    <style>
        html, body, #tweets-map {
            height: 100%;
            margin: 0px;
        }

        .window-content {
            color: #04162b;;
        }
    </style>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyACd_VggI1zknStMm6P_NOrP37QxEc--IE&libraries=visualization&dummy=.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script>
        var map, heatmap;
        var tweets = {{ geo_tweets|safe}}

        console.log(tweets.length)

        function initMap() {
            var mapOptions = {
                zoom: 5,
                center: new google.maps.LatLng(39.8,-95.583068847656)   //Center of US
            };

            map = new google.maps.Map(
                    document.getElementById('tweets-map'),
                    mapOptions);
            
            heatmap = new google.maps.visualization.HeatmapLayer({
                data: getPoints(),
                map: map
            });

            // To make it more visible
            heatmap.set('radius', heatmap.get('radius') ? null : 70)

        //     var test; 
        //     var listPoints = getPointsSample();
        //     for (i=0;i<tweets.length;i++){
        //         test = new google.maps.Marker({
        //             position: new google.maps.LatLng(tweets[i][0], tweets[i][1]),
        //             // position: listPoints[i],
        //             map: map
        //         });
        //     }
        }


        function getPoints(){
            map_points = []
            for (i=0; i<tweets.length; i++){
                // map_points.push(new google.maps.LatLng(tweets[i][0], tweets[i][1]))
                map_points.push({location: new google.maps.LatLng(tweets[i][0], tweets[i][1]), weight: 2})
            }
            return map_points;
        }


    //Use jscript "async defer" instead
    google.maps.event.addDomListener(window, 'load', initMap);
    google.maps.event.addListenerOnce(map, 'idle', function(){
        heatmap.setMap(map);
    })



    </script>
<!--
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=KEY_GOES_HERE&callback=initMap"><script>
-->
{% endblock %}


{% block body %}
    <div id="tweets-map"></div>
{% endblock %}
